<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">
        <link rel="stylesheet" href="reporter-issues.css" media="all">
        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui.min.css" media="all">

        <script src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui.min.js"></script>
        <script src="https://connect-cdn.atl-paas.net/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
        <script src="reporter-issues.js"></script>
        <script id="issues-template" type="text/x-handlebars-template">
			{{#if hasAny}}
                <base target="_parent">
    				<div>
    						<table class="issues">
    							{{#each data.issues}}
    								<tr>
    									<td>
    								  		<a href="{{../hostUrl}}/browse/{{this.key}}">{{this.key}}</a> 
    								  	</td>
    								  	<td>
    								  		<span title="{{this.fields.summary}}" class="summary">
    								  			{{this.fields.summary}}
    								  		</span>
    								  	</td>
                                        <td>
                                            <span class="aui-lozenge jira-issue-status-lozenge-{{this.fields.status.statusCategory.colorName}}">{{this.fields.status.name}}</span>
                                        </td>

    								</div>
    								<tr>
    			  				{{/each}}				
    						</table>
    				</div>
    				{{#if hasMore}}
    					<div>
    						<a href="{{hostUrl}}/issues/?jql={{jql}}">More... </a>
    					</div>
    	  			{{/if}}
                </base>
	  		{{else}}
	  			<div> Reporter hasn't created any other issues yet</div>
	  		{{/if}}
        </script>
    </head>
    <body>
        <section id="content" class="ac-content">
        </section>
    </body>
</html>