.summary {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display : inline-block;
}
.issues td {
	padding: 0;
	vertical-align: middle;
}

.aui-lozenge.jira-issue-status-lozenge-green {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-green {
    background-color: #fff;
    border-color: #b2d8b9;
    color: #14892c
}

.aui-lozenge.jira-issue-status-lozenge-yellow {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-yellow {
    background-color: #fff;
    border-color: #ffe28c;
    color: #594300
}

.aui-lozenge.jira-issue-status-lozenge-brown {
    background-color: #815b3a;
    border-color: #815b3a;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-brown {
    background-color: #fff;
    border-color: #ece7e2;
    color: #815b3a
}

.aui-lozenge.jira-issue-status-lozenge-warm-red {
    background-color: #d04437;
    border-color: #d04437;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-warm-red {
    background-color: #fff;
    border-color: #f8d3d1;
    color: #d04437
}

.aui-lozenge.jira-issue-status-lozenge-blue-gray {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-blue-gray {
    background-color: #fff;
    border-color: #e4e8ed;
    color: #4a6785
}

.aui-lozenge.jira-issue-status-lozenge-medium-gray {
    background-color: #ccc;
    border-color: #ccc;
    color: #333
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-medium-gray {
    background-color: #fff;
    border-color: #ccc;
    color: #333
}
